<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" data-th-href="@{/css/style.css}">
    <meta charset="UTF-8"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" href="">
            <img src="https://lh3.googleusercontent.com/proxy/ojOLQAgoqfFsUv8ZNEOFETB5CTH-5bNZ589AbgRUlkWLflMdtEwcujm0HpC3-17Golef7RfQvkO0LXqWZyzV11CoIogrIJtjzyFYZa85Q76uaJDeRHEpew-6PxWweRE"
                 width="30" height="30" class="d-inline-block align-top bg-success rounded-circle" alt=""
                 loading="lazy">
            Üzenetek
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="http://localhost:8080/greeting">Főoldal <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="http://localhost:8080/messages">Összes üzenet <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
        <div class="my-2 my-lg-0 ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href=http://localhost:8080/user_info>Felhasználói Információk <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3 "
                       href="http://localhost:8080/create">
                        <img src="https://icons-for-free.com/iconfiles/png/512/journal+life+lifejournal+logo+social+write+writing+icon-1320190638075088737.png"
                             width="20" height="20" class="d-inline-block align-top bg-success" alt="" loading="lazy">Új
                        üzenet
                    </a>
                </li>
                <li><a class="nav-link text-dark" th:href="@{/logout}" sec:authorize="hasRole('ROLE_USER')">LogOut</a>
                </li>
                <li><a class="nav-link text-dark" th:href="@{/logout}" sec:authorize="hasRole('ROLE_ADMIN')">LogOut</a>
                </li>
                <li th:if="!${#request.userPrincipal}">
                    <a class="nav-link text-dark" th:href="@{/login_page}">LogIn</a>
                </li>

            </ul>


        </div>
    </div>
</nav>
<div class="container my-5 ">
    <h2>Messenger</h2>
    <p>
        <a class="nav-link text-success" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <h5>Keresés</h5>
        </a>

    </p>
    <div class="collapse transparent" id="collapseExample">
        <div class="card card-body">
            <form action="#" th:attr="action=@{/messages}" class="my-3" >
                <div class="row">
                    <div class="col-4">
                        <label>
                            Megjelenített üzenetek száma:
<!--                            <select class="form-control" name="limit">-->
<!--                                <option>1</option>-->
<!--                                <option>2</option>-->
<!--                                <option>3</option>-->
<!--                                <option>4</option>-->
<!--                                <option>5</option>-->
<!--                                <option>6</option>-->
<!--                            </select>-->
                            <input type="range" class="custom-range" id="customRange1" max="20"  min="1" name="limit" >
                        </label>
                    </div>
                    <div class="col-4">
                        <label>
                            Rendezés:
                            <select class="form-control" name="order_by">
                                <option th:value="name">Név</option>
                                <option th:value="date">Dátum</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="dir" id="exampleRadios1" th:value="asc">
                            <label class="form-check-label " for="exampleRadios1">
                                Növekvő
                            </label>
                        </div>
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="dir" id="exampleRadios2" th:value="desc">
                            <label class="form-check-label " for="exampleRadios2">
                                Csökkenő
                            </label>
                        </div>
                    </div>
                </div>
                <label for="topics"> Téma szerinti keresés:</label>
                <select class="form-control " id="topics" name="topicId">
                    <option value="0">Mind</option>
                    <option th:each="topic : ${topics}"
                            th:text="${topic.category_name}"
                            th:value="${topic.topicId}">
                    </option>
                </select>
                <div class="col">
                    <input type="datetime-local" name="dateFrom">
                </div>
                <div class="col">
                    <input type="datetime-local" name="dateTo">
                </div>
                <button class="my-3" type="submit" >Rendezés</button>
            </form>
        </div>
    </div>

    <table class="table table-borderless mycolor table-success mt-3">
        <thead>
        <tr>
            <th scope="col">Üzenetküldő neve</th>
            <th scope="col">Üzenet</th>
            <th scope="col">Dátum</th>
            <th scope="col">Részletek</th>
            <th scope="col">Téma</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Üzenet törölve</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="message: ${messages}">
            <td data-th-text="${message.name}"></td>
            <td data-th-text="${message.text}"></td>
            <td data-th-text="${{message.date}}"></td>
            <td><a data-th-href="@{/one_message/{id}(id=${message.userId})}">Részletek</a></td>
            <td data-th-text="${message.topic.category_name}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')" data-th-text="${message.deleted}"></td>
            <td>
                <a data-th-href="@{/messages/delete/{id}(id=${message.userId})}">
                    <p type="submit" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">Törlés</p>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar fixed-bottom navbar-light bg-success justify-content-center mt-5">
    <img data-th-src="@{/img/unnamed.png}" width="150" height="50" alt="">
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>
